.tecnologias-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
  margin-top: 120px;
  position: relative;
}

.tecnologias-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.tecnologias-descricao-span {
  font: 600 24px/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 80px;
  display: block;
}

.tecnologias-descricao h3 {
  padding: 160px 0px 20px 0px;
  margin: 0px;
}

.tecnologias-descricao h2 {
  padding-bottom: 32px;
}

.tecnologias-descricao p {
  padding-bottom: 20px;
}

.tecnologias-descricao-span::after {
  content: "";
  display: block;
  width: 261px;
  height: 4px;
  background: currentColor;
  position: absolute;
}

.tecnologias-descricao-span:hover {
  color: var(--cor-0);
}

.tecnologias-detalhes {
  display: flex;
  gap: 40px;
  padding-bottom: 180px;
}

.tecnologias-detalhes img {
  padding-bottom: 8px;
}

.tecnologias-detalhes h4 {
  padding-bottom: 8px;
}

.tecnologias-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologias-bg:after {
  content: '';
  display: block;
  width: 52px;
  height: 52px;
  background: url(/img/dec/bottom-left.svg) no-repeat center;
  color: var(--cor-10);
  position: absolute;
  margin-top: -172px;
  margin-left: 40px;
}

@media (max-width: 1500px) {
  .tecnologias-bg:after {
    display: none;
  } 
}

@media (max-width: 800px) {
  .tecnologias-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 0px var(--cor-0), inset 0 0px var(--cor-0);
    margin-top: 40px;
  }

  .tecnologias-div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .tecnologias-descricao h3 {
    padding: 60px 0px 20px 0px;
    margin: 0px;
  }

  .tecnologias-imagem img {
    display: none;
  } 

  .tecnologias-detalhes {
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .tecnologias-detalhes {
    flex-wrap: wrap;
    gap: 8px;
  }

  .tecnologias-descricao-span {
    padding-bottom: 60px;
  }
}