.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens-bg .titulo {
  padding-top: 120px;
  padding-bottom: 90px;
}

.vantagens-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 120px;
}

@media (max-width: 800px) {
  .vantagens-bg .titulo {
  padding-top: 60px;
  padding-bottom: 48px;
}
  .vantagens-conteudo {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .vantagens-conteudo {
    grid-template-columns: 1fr;
  }
  .vantagens-bg .titulo {
  padding-top: 48px;
  padding-bottom: 40px;
}
  .vantagens-conteudo {
    padding-bottom: 40px;
  }
} 
